In [8]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('data/headbrain.csv')
student_df = pd.read_csv('data/student.csv')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 4 columns):
Gender                 237 non-null int64
Age Range              237 non-null int64
Head Size(cm^3)        237 non-null int64
Brain Weight(grams)    237 non-null int64
dtypes: int64(4)
memory usage: 7.5 KB

In [11]:
data.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [12]:
# description statictics  about dataset
data.describe()

           Gender   Age Range  Head Size(cm^3)  Brain Weight(grams)
count  237.000000  237.000000       237.000000           237.000000
mean     1.434599    1.535865      3633.991561          1282.873418
std      0.496753    0.499768       365.261422           120.340446
min      1.000000    1.000000      2720.000000           955.000000
25%      1.000000    1.000000      3389.000000          1207.000000
50%      1.000000    2.000000      3614.000000          1280.000000
75%      2.000000    2.000000      3876.000000          1350.000000
max      2.000000    2.000000      4747.000000          1635.000000

# 1. Using Sklearn to implement Simple Linear Regression Model

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [18]:
X = data['Head Size(cm^3)'].values 
Y = data['Brain Weight(grams)'].values 

m = len(X)

X = X.reshape((m, 1))

In [19]:
regression = LinearRegression()

In [20]:
regression = regression.fit(X, Y)

In [21]:
Y_pred = regression.predict(X)

In [22]:
mse = mean_squared_error(Y, Y_pred)
rmse = np.sqrt(mse)
r2_score = regression.score(X, Y)

In [23]:
print(rmse)

72.1206213783709

In [24]:
print(r2_score)

0.639311719957