In [1]:
import pandas as pd

In [2]:
s = pd.Series(['banana', 42])

In [3]:
s

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])

In [5]:
s

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [6]:
pd.Series[(33, 33)]

TypeError: 'type' object is not subscriptable

In [11]:
pd.Series({'name': 'mike', 'age': 20}, index=['name', 'fu'])

name    mike
fu       NaN
dtype: object

In [14]:
scientists = pd.DataFrame(
data={'Occupation': ['Chemist', 'Statistician'], 'Born': ['1920-07-25', '1876-06-13'], 'Died': ['1958-04-16', '1937-10-16'], 'Age': [37, 61]},
index=['Rosaline Franklin', 'William Gosset'],
columns=['Occupation', 'Born', 'Died', 'Age'])

In [15]:
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [16]:
first_row = scientists.loc['William Gosset']

In [17]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object